.modalBlock {
    background: rgb(245, 255, 0);
    background: linear-gradient(0deg, rgba(245, 255, 0, 1) 21%, rgba(0, 255, 226, 1) 100%);
    font-weight: bold;
}

.imgBlock {
    text-align: center;
}

.imgBlock img {
    min-height: 14rem;
    max-height: 14rem;
}

.btn {
    background: linear-gradient(0deg, rgb(255, 115, 0) 21%, rgb(1, 197, 174) 100%);
    color: black;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(189, 196, 1) 21%, rgb(1, 197, 174) 100%);
    color: black;
}